[buildout]
extends = http://svn.zope.org/repos/main/groktoolkit/trunk/grok.cfg
parts =
    test
    omelette
develop =
    .
versions = versions
extensions = 
    buildout.dumppickedversions
    mr.developer

sources = sources
auto-checkout =
    grokcore.traverser

[sources]
grokcore.traverser = svn http://svn.zope.org/repos/main/grokcore.traverser/trunk


[omelette]
recipe = collective.recipe.omelette
eggs = ${test:eggs}

[versions]
grokcore.rest =

[test]
recipe = zc.recipe.testrunner
eggs =
    grokcore.rest
    grokcore.rest[test]
defaults = ['--tests-pattern', '^f?tests$', '-v', '-c']
